PGHOST=localhost
PGUSER=your_username
PGPASSWORD=your_password
PGDATABASE=your_database_name
PGPORT=your_port_number(usually 5432 for PostgreSQL) 
JWT_SECRET=your_secret_key(you can write any random string here)